[package]
name = "planes-of-booty"
version = "0.1.0"
authors = ["barsoosayque <shtoshich@gmail.com>"]
edition = "2018"
build = "build/build.rs"

[dependencies]
ggez = "0.5.1"
specs = { version = "0.16.1", features = ["specs-derive", "parallel", "storage-event-control"] }
imgui = "0.3.0"
imgui-gfx-renderer = "0.3.0"

nphysics2d = "0.15.1"
euclid = { version = "0.20.11", features = ["mint"] }

anyhow = "1.0.31"
log = "0.4.8"
fern = { version = "0.6.0", features = ["colored"] }
chrono = "0.4.11"
rayon = "1.3.0"

[build-dependencies]
anyhow = "1.0.31"
codegen = "0.1.3"
serde = { version = "1.0.110", features = ["derive"] }
serde_yaml = "0.8.12"
heck = "0.3.1"
uuid = { version = "0.8.1", features = ["v5"] }
