[package]
name = "planes-of-booty"
version = "0.1.0"
authors = ["barsoosayque <shtoshich@gmail.com>"]
edition = "2018"

[dependencies]
ggez = "0.5.1"
specs = { version = "0.16.1", features = ["specs-derive", "parallel"] }

euclid = { version = "0.20.11", features = ["mint"] }
anyhow = "1.0.31"
log = "0.4.8"
fern = { version = "0.6.0", features = ["colored"] }
chrono = "0.4.11"
rayon = "1.3.0"
