name: Game

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - os: ubuntu-latest
            executable: planes-of-booty
          - os: macos-latest
            executable: planes-of-booty
          - os: windows-latest
            executable: planes-of-booty.exe
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: sudo apt-get install libasound2-dev libudev-dev pkg-config

    - name: Build
      run: cargo build --release --verbose

    - name: Run tests
      run: cargo test --verbose

    - name: Copy executable
      run: cp target/release/${{ matrix.executable }} .

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.2.1
      with:
        name: planes-of-booty-${{ matrix.os }}
        path: |
          ${{ matrix.executable }}
          resources/shaders
          resources/sprites
