name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: apt-get install libasound2-dev libudev-dev pkg-config
    - name: Build
      run: cargo build --release --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Copy executable
      run: cp target/release/planes-of-booty .
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.2.1
      with:
        name: planes-of-booty-linux
        path: |
          planes-of-booty
          resources/{particles,shaders,sprites}
